@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #4f46e5;
    --color-secondary: #06b6d4;
    --color-third: #8b5cf6;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
    --color-background: #f8fafc;
    --color-text: #1e293b;
    --color-heading: #0f172a;
    --color-darkChoco: #3e2723;
    --color-section: #f8fafc;
    --color-accent: #dbeafe;

    --font-family-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-family-satoshi: "Satoshi", sans-serif;
}

html,
body {
    font-family: var(--font-family-satoshi);
}

.shadow-1 {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.shadow-2 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.shadow-3 {
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.25);
}

.shadow-4 {
    box-shadow: 0 0px 24px rgba(0, 0, 0, 0.25);
}

.text-shadow {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.geometric-shape {
    position: relative;
    overflow: hidden;
}

.geometric-shape::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(30, 64, 175, 0.1));
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.geometric-shape:hover::before {
    transform: rotate(45deg) scale(1.2);
    -webkit-transform: rotate(45deg) scale(1.2);
    -moz-transform: rotate(45deg) scale(1.2);
    -ms-transform: rotate(45deg) scale(1.2);
    -o-transform: rotate(45deg) scale(1.2);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
